html, body {
    margin: 0;
  }
  
  html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
  }
  
  body {
    overflow: hidden;
    height: inherit;
  }
  
  h1 {
    margin: 15px 0px;
    font-size: 2rem;
    letter-spacing: -1px;
    right: 5px;
    text-align: center;
    color: transparent;
    text-shadow: 0 0 4px rgba(212, 78, 16, 0.822);
  }


.modal {
    display: block;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    padding: 10px 5px;
    color: transparent;
    background-color:   rgba(212, 78, 16, 0.822);
    border-radius: 5px;
    width: 640px;
}

.container {
    display: flex;
    justify-content: center;
}

